
.navbar {
  background: #6DD3CE;
  border-bottom: 2px solid #006E90;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #006E90;
  color: white;
}

.navbar-default .navbar-nav  li  a {
  color: white;
}

.nav header {
  color: #B95F89;
}





/* #B95F89 pink */



footer .navbar {
  background-color: #6DD3CE;
  font-size: 1.3em;
  color: white;
  border-top: 2px solid #006E90;
}
