
html, body {
  width: 100%
}


.navbar {
  background: #6DD3CE;
  border-bottom: 2px solid #006E90;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #006E90;
  color: white;
}

.navbar-default .navbar-nav  li  a {
  color: white;
}

.nav header {
  color: #B95F89;
}


.jumbotron .page1{
  height: 500px;
  background-image: url("../images/tech2.jpg");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: black 0.1em 0.1em 0.1em;
  padding: 0 100px;
}
.jumbotron .page2{
  height: 500px;
  background-image: url("../images/business1.jpg");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}
.jumbotron .page3{
  height: 500px;
  background-image: url("../images/tech3.jpg");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}





/* #B95F89 pink */
/* 2EC0F9 blue */


footer .navbar {
  background-color: #6DD3CE;
  font-size: 1.3em;
  color: white;
  border-top: 2px solid #006E90;
}






/* Tech and business stream descriptions */
/* Design */
.business-desc {
  background-color: rgba(46, 192, 249);
}

.tech-desc {
  background-color: rgba(185, 95, 137);
}

.business-desc , .tech-desc {
  color: white;
  padding: 25px;
}

.descriptions .row {
  height: 250px;
}

/* Stretch images to fill container */
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

main img {
  width: 100%;
}
